<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%#= link_to "Show operations", group_operations_path(group) %>
      <%= link_to "Show this group", show_group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
